html {
  background: #2d352e;
}

.mainDiv {
  position: absolute;
  height: 5000px;
  width: 100%;
  top: 0;
}

.svg {
  width: 90%;
  /* height: 100%; */
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
}

.topDiv {
  position: absolute;
  width: 100%;
  height: 40%;
}

.top {
  top: 61%;
  height: 59%;
}

.middle {
  top: 2400px;
}

.bottom {
  top: 3450px;
}

.Layer_1 {
  stroke: black;
  z-index: 0;
  stroke-width: 1;
}

.Layer_2 {
  stroke: white;
  z-index: 2;
  stroke-width: 0.5;
}

.Layer_3 {
  stroke: #2775e2;
  filter: blur(2px);
  z-index: 1;
  stroke-width: 2;
}

.comp {
  position: fixed;
  width: 33%;
  top: -12%;
  z-index: 3;
  left: 6%;
}

.bg {
  position: absolute;
  top: 32%;
  left: 0;
  width: 68%;
  height: 59%;
  z-index: 3;
  right: 0;
  margin: -36% auto;
}

.bgDiv {
  position: absolute;
  top: 328px;
  left: 0;
  margin: 0 auto;
  width: 68%;
  z-index: 3;
  box-sizing: inherit;
  right: 0;
}
