html,
body {
  /* background: #2d352e; */
  margin: 0;
}

.mainDiv {
  position: absolute;
  height: 327.5vw;
  width: 100%;
  max-width: 1110px;
  max-height: 3635.25px;
  /* background: #0080001c; */
  left: 0;
  top: 50%;
}

.svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.Layer_1 {
  stroke: black;
  z-index: 0;
  stroke-width: 1;
}

.Layer_2 {
  stroke: white;
  z-index: 2;
  stroke-width: 0.5;
}

.Layer_3 {
  /* stroke: #2775e2; */
  stroke: #ff9b12;
  filter: blur(2px);
  z-index: 1;
  stroke-width: 2;
}


.topDiv {
  position: absolute;
  width: 100%;
  height: 40%;
}

.toppic {
  position: absolute;
  top: 3%;
  left: 7%;
  width: 68%;
  z-index: 3;
  right: 0;
}

.top {
  top: 10%;
  width: 100%;
}

.middlepic {
  position: absolute;
  top: 39%;
  left: -3%;
  width: 80%;
  z-index: 3;
  right: 0;
  margin: 0 auto;
}

.middle {
  top: 43%;
  width: 95%;
}

.bottompic {
  position: absolute;
  top: 79.3%;
  left: 1.5%;
  width: 89%;
  z-index: 0;
  right: 0;
  margin: 0 auto;
}

.bottom {
  top: 70%;
  width: 90%;
}