@font-face {
	font-family: 'VWAntiqua';
	src: url('../fonts/VWAGTheAntiqua-Regular.otf') format("opentype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'VWAntiqua';
	src: url('../fonts/VWAGTheAntiqua-Bold.otf') format("opentype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatz';
	src: url('../fonts/YanoneKaffeesatz-Regular.otf') format('opentype');
	src: url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatz';
	src: url('../fonts/YanoneKaffeesatz-Thin.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'YanoneKaffeesatz';
	src: url('../fonts/YanoneKaffeesatz-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'YanoneKaffeesatz';
	src: url('../fonts/YanoneKaffeesatz-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}