html,
body {
  /* background: #2d352e; */
  margin: 0;
  font-family: 'YanoneKaffeesatz';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.mobileConsoleLog {
  position: fixed;
  top: 0vh;
  left: 20vw;
  font-size: 4rem;
  color: blue;
  z-index: 100;
}

span {
  color: red;
}

/* layers for all draw effects */
.svg {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.Layer_1 {
  stroke: #cbcbcb;
  z-index: 0;
  stroke-width: 1;
}

.Layer_2 {
  stroke: white;
  z-index: 2;
  stroke-width: 0.5;
}

.Layer_3 {
  /* stroke: #2775e2; */
  stroke: #ff9b12;
  filter: blur(2px);
  z-index: 1;
  stroke-width: 2;
  opacity: 0.7;
}



/* container around everything */
.mainDiv {
  position: absolute;
  height: 327.5vw;
  width: 100%;
  max-width: 1110px;
  max-height: 3635.25px;
  /* background: #0080001c; */
  left: 0;
  top: 0;
  right: 0;
  margin: 0 auto;
}


/* top section */
.topContainer {
  position: absolute;
  height: 38%;
  width: 100%;
}

.topWords {
  position: absolute;
  top: 5%;
  height: 23%;
  width: 60%;
  left: 40%;
}

.blurbar {
  position: absolute;
  width: 100%;
  background: #ffffff;
  filter: blur(25px);
  z-index: 3;
}

.blurbartop {
  top: 21%;
  height: 11%;
}

.toppic {
  position: absolute;
  top: 2%;
  left: 1%;
  width: 68%;
  z-index: 3;
  right: 0;
}

/* top svg draw effect */
.top {
  top: 25%;
  width: 100%;
}

.logo {
  position: absolute;
  width: 85%;
  top: 0%;
}

.understanding {
  position: absolute;
  width: 54%;
  top: 29%;
  font-size: 2.4rem;
  font-weight: 400;
}

.eLearning {
  position: absolute;
  width: 71%;
  top: 66%;
  line-height: 1.2rem;
  font-family: Roboto;
  z-index: 4;
}

.view-video {
  position: absolute;
  width: 26%;
  left: 43%;
  top: 86.4%;
  font-family: 'YanoneKaffeesatz';
  background: #ff9901;
  border: none;
  padding: 0%;
  border-radius: 3px;
  color: white;
  height: 13.5%;
  font-size: 2rem;
  margin: 0%;
  box-shadow: -1px 2px 5px #00000047;
  z-index: 4;
}

.menus {
  position: absolute;
  top: 54%;
  left: 44.7%;
  font-size: 4rem;
}

.menus-des {
  position: absolute;
  top: 60%;
  width: 62%;
  left: 19.5%;
  font-size: 1.3rem;
  text-align: center;
}

.iframeContainer {
  display: flex;
  position: absolute;
  top: 67%;
  width: 63%;
  left: 18.5%;
  z-index: 1;
  height: 30%;
  overflow: hidden;
}

.iframeContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  transition: all 0.1s linear;
}

.iframeContainer :nth-child(1) {
  position: absolute;
  left: 0;
}

.iframeContainer :nth-child(2) {
  position: absolute;
  left: 100%;
}

.iframeContainer :nth-child(3) {
  position: absolute;
  left: 200%;
}

.iframeContainer :nth-child(4) {
  position: absolute;
  left: 300%;
}

.iframeContainer :nth-child(5) {
  position: absolute;
  left: 400%;
}

.arrow {
  position: absolute;
  width: 4%;
  height: 3.2%;
  border: none;
  cursor: pointer;
  z-index: 4;
}

.arrow img {
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100%;
}

.arrowLeft {
  top: 79%;
  left: 11%;
}

.arrowRight {
  top: 79%;
  left: 85.5%;
}

.carouselDots {
  position: absolute;
  border-radius: 50px;
  top: 97%;
  width: 1.5%;
  height: 1.2%;
  background: #ff990199;
}

.dotActive {
  background: #ff9901;

}

.dot1 {
  left: 40%;
}

.dot2 {
  left: 45%;
}

.dot3 {
  left: 50%;
}

.dot4 {
  left: 55%;
}

.dot5 {
  left: 60%;
}

/* middle section */

.middleContainer {
  position: absolute;
  top: 39%;
  height: 21%;
  width: 100%;
}

.middlepic {
  position: absolute;
  top: 0%;
  left: -3%;
  width: 80%;
  z-index: 3;
  right: 0;
  margin: 0 auto;
}

.middle {
  top: 18%;
  width: 94%;
  left: -0.5%;
}

.interactiveOptions {
  position: absolute;
  top: 62.5%;
  font-size: 4rem;
  left: 32.7%;
}

.interactive-des {
  position: absolute;
  top: 75%;
  font-size: 1.7rem;
  text-align: center;
  width: 79%;
  left: 10%;
}

/* options */
.optionsContainer {
  position: absolute;
  width: 100%;
  height: 15.5%;
  top: 58.5%;
}

.option {
  position: absolute;
  box-shadow: -3px 3px 9px 0px #00000073;
  height: 48%;
  width: 28%;
  background: white;
}

.optionImgContainer {
  position: absolute;
}

.optionHeader {
  position: absolute;
  top: 53%;
  font-size: 1.8rem;
  font-weight: 400;
  left: 4%;
}

.optionDescription {
  position: absolute;
  top: 71%;
  font-size: 0.8rem;
  left: 4.1%;
}

.examples {
  position: absolute;
  top: 89%;
  left: 81%;
  font-size: 1.05rem;
  color: #ff9901;
}

.option1 {
  left: 5%;
}

.option2 {
  left: 36%;
}

.option3 {
  left: 67%;
}

.option4 {
  top: 52%;
  left: 5%;
}

.option5 {
  top: 52%;
  left: 36%;
}

.option6 {
  top: 52%;
  left: 67%;
}

.bottomContainer {
  position: absolute;
  top: 69.8%;
  width: 96%;
  height: 29.5%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -1;
}

.bottompic {
  position: absolute;
  top: 30%;
  left: 1.6%;
  width: 99%;
  z-index: 3;
  right: 0;
  margin: 0 auto;
}

.bottom {
  top: 0%;
  width: 100%;
}